<!-- Page Content -->
<div ng-controller="monthlyController">

    <br>
    <br>
    <br>
    
    <!-- Page Header -->
    <div ng-controller="dateController" class="row col-sm-12" >
        <div class="block-center text-center align-center">
            <a class="btn btn-success btn-lg" ng-click="before()">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>

            <span class="dateformat">
                <strong>&nbsp;{{dateAtual}}&nbsp;</strong>
            </span>

            <a class="btn btn-success btn-lg" ng-click="after()">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>        

    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div class="row col-sm-12">
        <hr>
        <div class="col-sm-4">
            <div class="divblock divblue">
                <div class="divicon">
                    <div class="font-icon">
                        <i class="fa fa-thumbs-up"></i>
                    </div>
                </div>
                <div class="divdirupper">
                    <span>98%</span>
                    <hr>
                </div>

                <div class="divdirdown">
                    SLA no prazo
                </div>
            </div>
        </div>    

        <div class="col-sm-4">
            <div class="divblock divred">
                <div class="divicon">
                    <div class="font-icon">
                        <i class="fa fa-thumbs-down"></i>
                    </div>
                </div>
                <div class="divdirupper">
                    <span>3%</span>
                    <hr>
                </div>

                <div class="divdirdown">
                    BO Anomalia
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="divblock divgreen">
                <div class="divicon">
                    <div class="font-icon">
                        <i class="fa fa-bar-chart"></i>
                    </div>
                </div>
                <div class="divdirupper">
                    <span>324</span>
                    <hr>
                </div>

                <div class="divdirdown">
                    Volumetria
                </div>
            </div>
        </div>  

    </div>
    <!-- /.row -->
    
    <!-- Footer -->
    <footer>
        <div class="row col-sm-12">
            <hr>
            <p>Copyright &copy; Your Website 2014</p>
        </div>
        <!-- /.row -->
    </footer>

</div>