<!-- Page Content -->
<div ng-controller="monthlyController">

    <br>
    <br>
    <br>
    
    <!-- Page Header -->
    <div ng-controller="dateController" class="row" >
        <div class="col-lg-12">
            <div class="block-center text-center align-center col-sm-12">
                <a class="btn btn-success btn-lg pull-left" ng-click="before()">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>

                <span class="dateformat">
                    <strong>&nbsp;{{monthAtual}}&nbsp;</strong>
                </span>

                <a class="btn btn-success btn-lg pull-right" ng-click="after()">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-4">
            <div class="divblock divblue">
                <div class="divicon">
                    <div class="font-icon">
                        <i class="fa fa-thumbs-up"></i>
                    </div>
                </div>
                <div class="divdirupper">
                    <span>95%</span>
                    <hr>
                </div>

                <div class="divdirdown">
                    SLA no prazo
                </div>
            </div>
        </div>    

        <div class="col-md-4">
            <div class="divblock divred">
                <div class="divicon">
                    <div class="font-icon">
                        <i class="fa fa-thumbs-down"></i>
                    </div>
                </div>
                <div class="divdirupper">
                    <span>5%</span>
                    <hr>
                </div>

                <div class="divdirdown">
                    BO Anomalia
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="divblock divgreen">
                <div class="divicon">
                    <div class="font-icon">
                        <i class="fa fa-bar-chart"></i>
                    </div>
                </div>
                <div class="divdirupper">
                    <span>555</span>
                    <hr>
                </div>

                <div class="divdirdown">
                    Volumetria
                </div>
            </div>
        </div>  

    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>

</div>